.todolist {
    background-color: rgba(70, 60, 135, 0.7);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px;
    height: max-content;
}
.add-tasks button:disabled {
    opacity: 0.5;
}
.add-tasks button:disabled:hover {
    cursor: default;
    color: white;
}
.error {
    border: 2px solid red;
}
.error-message {
    color: red;
}
.is-done{
    text-decoration: line-through;
    opacity: 0.5;
}
.active-filter {
    background-color: #fff;
    color: #231c43;
    border-color: #231c43;
}
h3{
    display: flex;
    gap: 12px;
}